@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  color: #555;
}
body {
  font-family: "Inter", serif;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.span {
  color: #308367;
}

.navbar-ul {
  display: flex;
  gap: 3rem;
}

.navbar-a {
  text-decoration: none;
  list-style: none;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-top: 4rem;
}

.heading-primary {
  line-height: 1.5;
  letter-spacing: 0.025em;
}

/* ADD MEDIA QUERIES HERE */
@media (max-width: 640px) {
}
@media (max-width: 768px) {
}

/* END MEDIA QUERIES HERE */
section {
  padding: 6.2rem 0 9.6rem 0;
}
.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}
.vid {
  display: grid;
  grid-template-columns: 1fr 20rem;
}

.services {
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #308367;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* backdrop */
.backdrop-1 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/about-1.jpg");
  background-size: cover;
  background-position: center;
}

.backdrop-2 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/team-1.jpg");
  background-size: cover;
  background-position: center;
}
.backdrop-3 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/services-1.jpg");
  background-size: cover;
  background-position: center;
}
.backdrop-4 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/projects-2.jpg");
  background-size: cover;
  background-position: center;
}
.backdrop-5 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/about-2.jpg");
  background-size: cover;
  background-position: center;
}
.backdrop-6 {
  background-image: linear-gradient(to right bottom, rgba(48, 131, 103, 0.2), rgba(48, 131, 103, 0.8)),
    url("/barleyfield assets/contact-2.jpg");
  background-size: cover;
  background-position: center;
}

/* NAVBAR */
.nav-open {
  margin-top: 9rem;
  position: fixed;
  inset: 0 0 0 30%;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  background: hsl(0 0% 90% / 0.9);
  transition: all 0.3s ease-in;
  transform: translateX(0%);

  /* -webkit-backdrop-filter: blur(10px); */
}
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #555;
  display: block;
  z-index: 9999;
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
